
@model BarCodeApplication.ViewModels.Scan
@{
    ViewBag.Title = "Scan";
}

<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(model => model.BarCode)</td>
        <td>@Html.DisplayFor(model => model.BarCode)</td>
    </tr>
</table>